<%= form_for(@galinha) do |f| %>
  <% if @galinha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galinha.errors.count, "error") %> prohibited this galinha from being saved:</h2>

      <ul>
      <% @galinha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :galinha_id %><br>
    <%= f.number_field :galinha_id %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :raca %><br>
    <%= f.text_field :raca %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
